@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Oswald&family=Roboto+Slab&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 10px 0 25px 0;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.box {
    background-color: hsl(31, 77%, 52%);
    height: 80vh;
    width: 18vw;
    align-content: center; 
    justify-content: center; 
    flex-direction: row;
}

.box2 {
    background-color: hsl(184, 100%, 22%);
    height: 80vh;
    width: 18vw;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.box3 {
    background-color: hsl(179, 100%, 13%);
    height: 80vh;
    width: 18vw;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

svg{
    margin-left: 32%;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    text-align: center;
}

.para {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    margin: 0 10px 0 10px;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    position: absolute;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin-left: 22px;
    width: 146px;
    border-radius: 25px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    transition: all 0.2s ease-in-out;
    bottom: 90px;
}

.btn2 {
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    position: absolute;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin-left: 22px;
    width: 146px;
    border-radius: 25px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    transition: all 0.2s ease-in-out;
    bottom: 90px;
}

.btn3 {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    position: absolute;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin-left: 22px;
    width: 146px;
    border-radius: 25px;
    outline: none;
    border: 2px solid hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    transition: all 0.2s ease-in-out;
    bottom: 90px;
}

footer {
    font-size: 13px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}